/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #083B4C;
}

h1{
    font-size: 100px;
    text-align: center;
    color:white;
    margin-bottom: 40px;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.container{
    max-width: 1080px;
    margin:0 auto;
}

li {
    margin:5px;
    width:90px;
    height: 90px;
  background-color: #1389B2;
  display: flex;
  align-items: center;
  justify-content: center;
}


.Fizz{
  background-color: #0BD6A1;
}

.Buzz{
  background-color: #FFD166;
}

.FizzBuzz{
  background-color: #F0466F;
}